<div class="Container">
    <div class="card-header">
        <h2>Usuarios</h2>
    </div>
    <div class="car-body">
        <table class="table table-hover">
            <thead>
                <tr>

                    <th scope="col">Id</th>
                    <th scope="col">Nombres </th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>


                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let usuario of usuarios" class="tex-center">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombres}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.cedula}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.telefono}}</td>
                </tr>
            </tbody>
        </table>
    </div>